#!/bin/bash

##########################################
# DO NOT MAKE LOCAL CHANGES TO THIS FILE #
#                                        #
# Vars in this file can be overridden by #
# exporting them in .envrc.local         #
##########################################

# Add local paths for binaries and scripts
PATH_add ./bin
PATH_add ./scripts

#####################
# AWS Configuration #
#####################

# Have aws-vault use the login keychain for better timeout behavior
export AWS_VAULT_KEYCHAIN_NAME=login

# Make Chamber read ~/.aws/config
export AWS_SDK_LOAD_CONFIG=1
# Make Chamber use the default AWS KMS key
export CHAMBER_KMS_KEY_ALIAS='alias/aws/ssm'
# Make Chamber use path based keys ('/' instead of '.')
export CHAMBER_USE_PATHS=1

##########################
# Database Configuration #
##########################

export DB_HOST=localhost
export DB_PORT=5432
export DB_USER=kanga
export DB_PASSWORD=kanga
export DB_NAME=kanga

#############################
# Application Configuration #
#############################

export ALLOWED_HOSTS="kangalocal,localhost"

export APP_DEBUG="True"
export APP_PORT="8080"
# APP_SECRET_KEY should be set in .envrc.local

export ADMIN_USER="admin"
export ADMIN_EMAIL="admin@localhost"
# ADMIN_PASSWORD should be set in .envrc.local

export LOG_ENCODING=console
export LOG_TIMEZONE="America/New_York"

export NGINX_HOST=kangalocal
export WEB_PORT_HTTP="8000"
export WEB_PORT_HTTPS="8443"

########################
# Django Configuration #
########################

export STATIC_ROOT=static

##############################################
# Load Local Overrides and Check Environment #
##############################################

# Load a local overrides file. Any changes you want to make for your local
# environment should live in that file.

if [ -e .envrc.local ]
then
  source_env .envrc.local
fi
