{% extends "base.html" %}

{% block content %}
<div class="section">
  <div class="section-header">
    <span class="section-title">Results</span>
  </div>
  <br>
  {% if executions %}
    {% for e in executions %}
    <div class="list-item">
      <div class="item-body" style="display: inline-block;">
        <div class="item-title">{{ e.plan.name }}</div>
        <div class="item-subtitle">({{ e.created_at }})</div>
      </div>
      <a href="{% url 'execution_view' u=e.uuid %}" class="btn" style="float:right;"><span>View</span></a>
      <br>
    </div>
    {% endfor %}
  {% else %}
  <div style="border:1px solid black;padding:10px;">
    <span>No results found</span>
  </div>
  {% endif %}
</div>
{% endblock %}
