{% extends "base.html" %}

{% block content %}
<div class="section">
  <div class="section-header">
    <span class="section-title">Delete Target {{ t.uuid }}</span>
  </div>
  <div class="section-body">
    <form action="{% url 'target_delete' u=t.uuid %}" method="post" class="form">
      {% csrf_token %}
      <input type="hidden" id="uuid" name="uuid" value="{{ t.uuid }}" readonly>
      <!-- -->
      <div class="form-group">
        <div class="form-group-title">First Name</div>
        <input type="text" id="first_name" name="first_name" value="{{ t.first_name }}" disabled><br>
      </div>
      <!-- -->
      <div class="form-group">
        <div class="form-group-title">Last Name</div>
        <input type="text" id="last_name" name="last_name" value="{{ t.last_name }}" disabled><br>
      </div>
      <!-- -->
      <div class="form-group">
        <div class="form-group-title">Group</div>
        <select type="text" id="group" name="group" disabled>
          <option value="--">--</option>
          {% for g in groups %}
            {% if g.id == t.group_id %}
            <option value="{{ g.uuid }}" selected>{{ g.name }}</option>
            {% else %}
            <option value="{{ g.uuid }}">{{ g.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <!-- -->
      <div class="form-group">
        <div class="form-group-title">Phone Number</div>
        <input type="tel" id="phone_number" name="phone_number" value="{{ t.phone_number }}" disabled><br>
      </div>
      <!-- -->
      <div class="form-buttons">
        <input type="submit" value="Delete">
      </div>
    </form>
  </div>
</div>
{% endblock %}
